.GroupDetailContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.leftSide{
    background-image:linear-gradient(to right,#635dc0,#3027ae);
    width: 25vw;
    height: 100vh;
    box-sizing: border-box;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    border: 2px solid  black;
    justify-content: center;
    align-items: center;
    
}

.groupNameSection{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 1vmax;
    margin-top: 0.5vmax;
    padding: auto;
    align-items: center;
}
.groupNameSection>h1{
    color: white;
    font: 300 auto "Roboto";
    padding: 2vmax;
    margin: 0;
}

.changeGroupNameButton>button,
.addMemberButton>button,
.groupTransactionButton>button{
    justify-content: center;
    align-items: center;
    padding: 0.8vmax;
    background-color: #3027ae;
    color: white;
    font: 300 1vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.changeGroupNameButton>button:hover,
.addMemberButton>button:hover,
.groupTransactionButton>button:hover{
    background-color: crimson;
}

.AdminSection,
.createdAtSection{
    display: flex;
    width: 100%;
    height: 5vh;
    padding: 1vmax 0;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.AdminSection>p,
.createdAtSection>p{
    color: black;
    font: 600 1.5vmax "Roboto";
}

.AdminSection>span,
.createdAtSection>span{
    color: white;
    font: 300 1.5vmax "Roboto";
}

.groupMemberSection{
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 50vh;
    margin-top: 0.5vmax;
    padding: auto;
    align-items: center;
    margin-top: 2vmax;
    overflow: auto;
}

.groupMemberSection>h2{
    font: 700 2vmax "Roboto";
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5vmax;
}
.members{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5vmax;
    /* overflow: auto; */
    width: 90%;
    margin-bottom: 2vmax;
}
.singleMember{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%;
  box-shadow: 0 2px 10px rgba(15,15,15,0.26);
  padding: 0.2vmax 0;
  margin-bottom: 0.5vmax;
}
.singleMemberProfile {
    display: flex;
    align-items: center;
    gap: 2vmax;
    width: 100%;
    position: relative; 
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.8vmax;
  }
  
  .singleMemberProfile> img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .singleMemberProfile> span {
    font: 300 1.5vmax "Roboto";
    color: white;
  }

  .deleteButton{
    cursor: pointer;
  }

  
  .svgDelete{
    transform: scale(1);
    color: rgb(178, 121, 111);
  }
  
  .svgDelete:hover{
    color:red;
  }

  .addMemberButton,.groupTransactionButton{
    margin-bottom: 1vmax;
    padding-bottom: 1vmax;
  }

  .middleSide{
    width:50vw;
    height:100vh;
    background-color: white;
  }
  .middleHeading{
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    height: 6vh;
    margin-top: 2vmax;
    align-items: center;
}
.middleHeading>h1{
    color: black;
    font: 300 auto "Roboto";
}

  .expenseContainer{
    display: flex;
    margin: 2vmax auto;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    overflow: auto;
    height: 70vh;
    align-items: center;
    text-align: center;
  }

  .noExpense{
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    color: black;
    font: 400 2vmax "Roboto";
}
  .createExpenseBtn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rightSide{
    width:25vw;
    height:100vh;
    background-image:linear-gradient(to right,#3027ae,#635dc0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    border: 2px solid  black;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .rightHeading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    height: 10vh;
    margin-top: 3vmax;
    align-items: center;
}
.rightHeading>h1{
    color: white;
    font: 300 auto "Roboto";
}

.balanceContainer{
  display: flex;
  margin: 2vmax auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  overflow: auto;
  height: 60vh;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.singleBalanceContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: auto;
  box-shadow: 0 2px 10px rgba(15,15,15,0.26);
  width: 90%;
  margin: 0.5vmax 0;
  padding: 0.5vmax;

}

.balanceMsg{
  color: white;
  font: 550 1.2vmax "Roboto";
  margin-bottom: 0.4vmax;
}

.noBalance{
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  color: black;
  font: 400 2vmax "Roboto";
}


@media screen and (max-width: 800px) {
  .leftSide{
    width: 30vw;
    justify-content: space-between;
  }
  
  .groupNameSection{
      height: 20vh;
      padding: 2vmax 0;
  }

  .changeGroupNameButton>button,
  .addMemberButton>button,
  .groupTransactionButton>button
  {
      font: 300 1.4vmax "Roboto";
  }

  .AdminSection>p,
  .createdAtSection>p{
      color: black;
      font: 600 2vmax "Roboto";
  }

  .AdminSection>span,
  .createdAtSection>span{
      color: white;
      font: 300 2vmax "Roboto";
  }

  .groupMemberSection>h2{
      font: 700 2.3vmax "Roboto";
  }

  .members{
      padding: 0.8vmax;
  }

  .singleMemberProfile {
      gap: 1vmax;
      height: auto;
    }
    
    .singleMemberProfile> img {
      width: 30px;
      height: 30px;
    }
    
    .singleMemberProfile> span {
      font: 300 1.8vmax "Roboto";
      color: white;
    }

    .svgDelete{
      transform: scale(0.8);
    }

    .middleSide{
      width:40vw;
    }

    .middleHeading{
      padding: 3vmax 0;
      margin-top: 1vmax;
    }

  
    .createExpenseBtn{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5vmax;
    }
    .rightSide{
      width:30vw;
    }


  .singleBalanceContainer{
    margin: 1vmax 0;
  }

  .balanceMsg{
    font: 550 1.8vmax "Roboto";
  }

  .noBalance{
    font: 400 2.4vmax "Roboto";
  }


}
  