.SearchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
  }
  
  .SearchInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .UserList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 80%;
    font: 500 1.2vmax "Roboto";
  }
  
  .UserListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    box-shadow: 0 0 3px rgba(15,15,15,0.26);
  }
  
  .UserName {
    font-weight: bold;
  }
  
  .UserEmail {
    color: #777;
  }
  
  .AddButton {
    padding: 6px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .AddButton:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 700px) {
    
    .SearchInput {
      font-size: 25px;
    }
    
    .UserList {
      font: 500 1.8vmax "Roboto";
    }
  }