header{
    margin-top: 0vmax;
    padding: 2vmax;
    background-color: rgb(34, 33, 33);
    color: white;
    display: flex;
    align-items: center;
    height: 2vmax;
    background-image:linear-gradient(to right,#635dc0,#3027ae);
    justify-content: flex-end;
    font-family: "Roboto";
    font-size: 1.5vmax;
    text-decoration: none;
}

.toHome{
    text-decoration: none;
    color:white;
    margin: 0 1vmax;
    align-items: center;
}

.toProfile >img{
    width: 4vmax;
    margin: 1vmax;
    cursor: pointer;
    align-items: center;
}