.CreateExpenseContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.CreateExpenseBox{
    background-color: white;
    width: 50vw;
    height: 96vh;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    padding: 2vmax;
}
.createExpenseForm>h1{
    color: #eb4034;
    font-size: 1.7vmax;
    font-family: "Roboto";
    margin-bottom: 0.5vmax;
}

.createExpenseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s;
    width: 100%;
    padding: 1vmax 0.5vmax;
}


.createExpenseForm>div{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0.5vmax 0;
}

.createExpenseForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.createExpenseForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}