.createExpenseButton > button{
    justify-content: center;
    align-items: center;
    padding: 0.8vmax;
    background-color: crimson;
    color: white;
    font: 300 1vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }

  .createExpenseButton>button:hover{
    background-color: #3027ae
  }

     @media screen and (max-width: 800px) {
      .createExpenseButton > button{
        font-size: 2vmax;
      }
     }