.CreateExpenseContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}

.CreateExpenseBox{
    background-color: white;
    width: 50vw;
    height: 96vh;
    box-sizing: border-box;
    display: flex;
    padding: 2vmax;
}
.createExpenseForm>h1{
    color: #eb4034;
    font-size: 1.7vmax;
    font-family: "Roboto";
    margin-bottom: 0.5vmax;
}

.createExpenseForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s;
    width: 100%;
    padding: 1vmax 0.5vmax;
    overflow: auto;
    height: 100%;
}


.createExpenseForm>div{
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0.8vmax 0;
}

.createExpenseForm>div>input{
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
}

.createExpenseForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
}

 .expenseSplitType,.expensePayer,.expenseParticipants {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .expenseSplitType> span,
  .expensePayer>span,
  .expenseParticipants>span {
    font: 300 0.9vmax cursive;
    color: rgba(0, 0, 0, 0.623);
    margin-right: 1vmax;
  }
  
  .expenseSplitType >select {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }

  .expensePayer>div,
  .expenseParticipants>div{
    width: 100%;
  }
  .expenseUsersInvolved{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
  }
  .payerName{
    color: crimson;
    font-size: 1vmax;
    font-family: "Roboto";
  }
  
  .particpantsList .participantHeading{
    font: 300 1.5vmax "Roboto";
    color: black;
    margin-bottom: 1vmax;
  }

  .createExpenseForm .particpantsList {
    display: flex;
    flex-direction: column;
  }
  
  .createExpenseForm .particpantsList > div {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vmax;
    justify-content: center;
  }
  
  .createExpenseForm .particpantsList > div > span {
    font: 300 1.2vmax "Roboto";
    color: crimson;
    margin-right: 1vmax;
  }
  
  .createExpenseForm .particpantsList > div > input {
    padding: 0.5vmax 0.5vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  
  .createExpenseForm .particpantsList > div > input[type="number"] {
    width: 50%; 
  }
  
  .createExpenseForm .particpantsList > div > input[type="number"]::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }


  .createNewExpenseBtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    margin-bottom: 1vmax;
  }

  .createNewExpenseBtn:hover{
    background-color: rgb(179, 66, 46);
  }
  

  @media screen and (max-width: 900px) {
    .CreateExpenseContainer {
      background-color: white;
    }
    .CreateExpenseBox {
      width: 100vw;
      height: 100vh;
    }

    .createExpenseForm>h1{
      font-size: 2.4vmax;
    }
  

    .createExpenseForm {
      padding: 5vmax;
      justify-content: space-between;
    }

    .createExpenseForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
    .createExpenseForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .createNewExpenseBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
    
    .expenseSplitType> span,
    .expensePayer>span,
    .expenseParticipants>span {
      font: 300 1.5vmax cursive;
    }
    
    .expenseSplitType >select {
      font: 300 1.5vmax cursive;
    }
  
    
    .payerName{
      font-size: 1.8vmax;
    }
    
    .particpantsList .participantHeading{
      font: 300 1.8vmax "Roboto";
    }
  
    .createExpenseForm .particpantsList > div > span {
      font: 300 1.8vmax "Roboto";
    }
    
    .createExpenseForm .particpantsList > div > input {
      font: 300 1.5vmax cursive;
    }
  
  }