.ExpenseDetailContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}
.ExpenseDetailBox {
    background-color: white;
    width: 50vw;
    height: 70vh;
    box-sizing: border-box;
    display: flex;
  }
.leftSideExpenseSection{
    background-image:linear-gradient(to right,#635dc0,#3027ae);
    width: 30vw;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    border: 2px solid  black;
    align-items: center;
    justify-content: space-between;
    padding: 2vmax 1vmax;
    text-align: center;
    color: white;
    font-family:"Roboto"; 
    font-size: 1vmax; 
}

.expenseHeadingSection{
    font-size: 2vmax;
}

.expenseDescriptionSection{
    font-size: 1.2vmax;
}
.editExpense>button{
    justify-content: center;
    align-items: center;
    padding: 0.6vmax 2vmax;
    background-color: #3027ae;
    color: white;
    font: 300 1vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.editExpense>button:hover{
    background-color: crimson;
}


.rightSideExpenseSection{
    background-color: white;
    color: black;
    width: 20vw;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    border: 2px solid  black;
    align-items: center;
    justify-content: flex-start;
    padding: 2vmax 0.1vmax;
    text-align: center;
    font-family:"Roboto"; 
}

.singleParticipantSection {
    display: flex;
    align-items: center;
    gap: 1vmax;
    padding: 0.4vmax 0.2vmax;
    width: 90%;
    box-shadow: 0 2px 10px rgba(15,15,15,0.26);
    position: relative; 
    margin-bottom: 0.4vmax;
  }
  
  .singleParticipantSection> img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  
  .singleParticipantSection> span {
    font: 300 1.5vmax "Roboto";
    color: black;
  }

  @media screen and (max-width: 700px) {
    .ExpenseDetailBox {
        width: 96vw;
      }
    .leftSideExpenseSection{
        width: 50%;
        font-size: 1.7vmax; 
    }
    
    .expenseHeadingSection{
        font-size: 2.2vmax;
    }
    
    .expenseDescriptionSection{
        font-size: 1.8vmax;
    }
    .editExpense>button{
        font: 300 1.8vmax "Roboto";
    }
    .rightSideExpenseSection{
        width: 50%;
    }
    
    .singleParticipantSection {
        padding: 0.8vmax 0.2vmax;
      }
      
    .singleParticipantSection> span {
    font: 300 1.8vmax "Roboto";
    }
  }