.SearchBarParticipantContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: auto;
}
.SearchInputParticipantContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
  }
  
  .SearchInputParticipant {
    width: 94%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .ParticipantList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 90%;
    font: 500 1.2vmax "Roboto";
  }
  
  .ParticipantListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    box-shadow: 0 0 3px rgba(15,15,15,0.26);
  }
  
  .ParticipantName {
    font-weight: bold;
  }
  
  .ParticipantEmail {
    color: #777;
  }
  
  .doneButtonContainer > button{
    justify-content: center;
    align-items: center;
    padding: 0.5vmax;
    background-color: crimson;
    color: white;
    font: 300 0.8vmax "Roboto";
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }

  .doneButtonContainer>button:hover{
    background-color: #3027ae
  }

